.Navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
}

.Footer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%; 

}

.Pages{
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    /* height: auto; */
}