.cardContainer{
    display: flex;
    flex-direction: row;
    column-gap: 35px;
   
}

.card{
    height: 300px;
    width: 250px;
    border: 2px solid black;
    background: linear-gradient(45deg ,
    rgba(255, 0, 0, 0.425) ,
    rgba(0, 0, 255, 0.447),
    rgba(0, 128, 0, 0.393) );
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.card span{
    width: 100px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.classIcon{
    height: 100px;
    width: 100px;
    margin-bottom: 40px;

}
.card h3{
    color:white;
}