.Footer {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

.Footer-content {
    margin: 0 auto;
    max-width: 800px;
}

.Footer-content p {
    margin: 5px 0;
}

.Footer-content a {
    color: #007bff;
    text-decoration: none;
}

.Footer-content a:hover {
    text-decoration: underline;
}
