.NavbarContainer{
    width:100%;
    background: rgb(201, 255, 196);
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    
}
.NavbarContainer span{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;


}
.NavbarContainer input{
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    padding: 0px 5px;
    margin-top: 10px;

}
.NavbarContainer button{
    margin-left: 50px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    color: white;
    background:rgba(0, 0, 255, 0.537);
    border: none;
    border-radius: 20px;

}
.Navbarlist{
    display: flex;
}
.Navbarlist li{
    list-style: none;
    padding-left: 12px;
    font-size: 18px;
    font-weight: 600;

}
.Navbarlink {
    text-decoration: none;
    transition: 1s;
}

.Navbarlink:hover{
    font-size:calc(1.4) ;
    color: blue;
}